.App {
  text-align: center;
}

.mt-10{
  margin-top: 10px;
}

.ml-10{
  margin-left: 10px;
}

.button-search{
  width: 350px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.ml-20{
  margin-left: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
